body {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: var(--f-clr-1);

  overflow-wrap: break-word;
  hyphens: auto;
  -webkit-hyphens: auto;
}

.f-preset_1 {
  font-size: calc(var(--20) + var(--2));
  line-height: 100%;
  font-weight: 500;
}

.f-preset_2 {
  font-size: var(--10);
  line-height: 120%;
  font-weight: 500;
}

.f-preset_3 {
  font-size: var(--5);
  line-height: 120%;
  font-weight: 500;
}

.f-preset_4 {
  font-size: calc(var(--4) + var(--0_5));
  line-height: 120%;
  font-weight: 500;
}

.f-preset_5 {
  font-size: calc(var(--3) + var(--0_5));
  line-height: 150%;
  font-weight: 400;
  font-style: italic;
}

/* ========== UTILITIES ========== */

.f-light {
  font-weight: 300;
}

.f-color_grey-light {
  color: var(--f-clr-2);
}

.f-color_grey-light_unchanged {
  color: var(--color-grey-500);
}

.f-color_error {
  color: var(--f-clr-error);
}
