body {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: var(--f-clr-1);

  overflow-wrap: break-word;
  hyphens: auto;
  -webkit-hyphens: auto;
}

.f-preset_1 {
  font-size: calc(var(--20) + var(--2));
  line-height: 100%;
  font-weight: 500;

  @media (width >= 48rem) {
    font-size: var(--36);
  }
}

.f-preset_2 {
  font-size: var(--10);
  line-height: 120%;
  font-weight: 500;

  @media (width >= 48rem) {
    font-size: clamp(var(--10), calc(var(--6) + 3vw), var(--16));
  }
}

.f-preset_3 {
  font-size: var(--5);
  line-height: 120%;
  font-weight: 500;

  @media (width >= 48rem) {
    font-size: clamp(var(--5), calc(var(--3) + 2vw), var(--9));
  }
}

.f-preset_4 {
  font-size: clamp(
    var(--3_5),
    calc(var(--3) + 1vw),
    var(--5)
  );
  line-height: 120%;
  font-weight: 500;

  @media (width >= 48rem) {
    font-size: clamp(var(--4), calc(var(--2) + 2vw), var(--7));
  }

  @media (width >= 64rem) {
    font-size: clamp(var(--4), calc(var(--1) + 2vw), var(--7));
  }
}

.f-preset_5 {
  font-size: calc(var(--3) + var(--0_5));
  line-height: 150%;
  font-weight: 400;
  font-style: italic;

  @media (width >= 48rem) {
    font-size: clamp(
      calc(var(--3) + var(--0_5)),
      calc(var(--2) + 1vw),
      var(--5)
    );
  }
}

/* ========== UTILITIES ========== */

.f-light {
  font-weight: 300;
}

.f-color_grey-light {
  color: var(--f-clr-2);
}

.f-color_grey-light_unchanged {
  color: var(--color-grey-500);
}

.f-color_error {
  color: var(--f-clr-error);
}
