/* ========== COMPONENTS ========== */

.c-switcher {
  & input {
    display: none;
  }

  & label {
    display: flex;
    inline-size: var(--8);
    block-size: var(--5);

    position: relative;

    @media (width >= 48rem) {
      inline-size: var(--12);
      block-size: var(--7);
    }
  }

  & label::before {
    content: "";
    position: absolute;

    inline-size: var(--8);
    block-size: var(--5);

    border-radius: var(--4);
    background-color: var(--color-purple-600);
  }

  & label::after {
    content: "";
    position: absolute;
    inline-size: var(--3);
    block-size: var(--3);
    border-radius: 50%;
    background-color: var(--color-white);
    top: var(--1);
    left: var(--1);

    transition: all 150ms ease-in-out;
  }

  & input:checked + label::after {
    transform: translateX(var(--3));
  }

  & label:focus-visible {
    /* outline-offset: var(--1);
    outline: var(--0_5) solid var(--color-purple-600);
    border-radius: var(--4); */
    outline: none;
  }

  & label:focus-visible::after {
    transform: scale(0.6);
  }

  & input:checked + label:focus-visible::after {
    transform: translateX(var(--3)) scale(0.6);
  }

  @media (width >= 48rem) {
    & input:checked + label:focus-visible::after {
      transform: translateX(var(--5)) scale(0.6);
    }
  }
}

@media (width >= 48rem) {
  .c-switcher label::before {
    inline-size: var(--12);
    block-size: var(--7);
  }

  .c-switcher label::after {
    inline-size: var(--5);
    block-size: var(--5);
  }

  .c-switcher input:checked + label::after {
    transform: translateX(var(--5));
  }
}

.c-icon_switcher {
  fill: var(--bg-clr-3);

  @media (width >= 48rem) {
    inline-size: var(--6);
    block-size: var(--6);
  }
}

.c-icon_area {
  display: grid;
  place-content: center;

  inline-size: var(--10);
  min-inline-size: var(--10);

  block-size: var(--10);
  min-block-size: var(--10);

  line-height: 0;
  border-radius: clamp(var(--1_5), calc(var(--1) + 0.75vw), var(--3));

  overflow: hidden;

  @media (width >= 48rem) {
    inline-size: var(--14);
    min-inline-size: var(--14);

    block-size: var(--14);
    min-block-size: var(--14);

    border-radius: var(--3);
  }
}

.c-icon_btn {
  inline-size: var(--7);
  block-size: var(--7);

  @media (width >= 48rem) {
    inline-size: var(--10);
    block-size: var(--10);
  }
}

/* ========== LAYOUT ========== */

.o-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  inline-size: 100%;
  max-inline-size: calc(var(--80) * 3 + var(--48) + var(--2));

  padding-block: clamp(var(--4), calc(var(--2) + 2vw), var(--8));

  @media (width >= 64rem) {
    padding-block: var(--20);
    padding-block-start: clamp(var(--4), calc(var(--2) + 5vw), var(--20));
  }
}

.o-header_topic {
  display: flex;
  align-items: center;
  gap: var(--4);

  @media (width >= 48rem) {
    gap: var(--6);
  }
}

.o-switcher {
  inline-size: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  block-size: var(--10);

  @media (width >= 48rem) {
    block-size: var(--14);
  }
}

.o-switcher_option {
  display: flex;
}

.o-switcher_area {
  display: flex;
  align-items: center;
  gap: var(--2);
  cursor: pointer;

  position: relative;

  &::after {
    content: "";
    position: absolute;
    inset: calc(var(--4) * -1);
  }

  @media (width >= 48rem) {
    gap: var(--4);
  }

  @media (width >= 64rem) {
    &:hover .c-switcher label::after {
      transform: translateX(0) scale(0.6);
    }

    &:hover .c-switcher input:checked + label::after {
      transform: translateX(var(--5)) scale(0.6);
    }
  }
}

@media (width >= 48rem) {
  .o-switcher_area::after {
    inset: calc(var(--6) * -1);
  }
}

/* ========== UTILITIES ========== */

.u-justify_end {
  justify-content: flex-end;
}

/* ========== LOGIC ========== */
