/* ========== COMPONENTS ========== */

#screen-quiz {
  inline-size: 100%;

  max-inline-size: calc(var(--80) * 3 + var(--48) + var(--2));

  padding-block: var(--8);

  display: flex;
  flex-direction: column;
  gap: var(--10);

  @media (width >= 64rem) {
    padding-block: 0;
    flex-direction: row;
    gap: var(--32);
  }
}

.c-btn_primary {
  padding-block: var(--5);
  inline-size: 100%;
  border-radius: var(--3);
  background-color: var(--color-purple-600);

  color: var(--color-white);
  text-transform: capitalize;

  &:focus-visible {
    background-color: var(--color-purple-300);
  }

  @media (width >= 48rem) {
    border-radius: var(--6);
  }
}

.c-progress {
  block-size: var(--4);
  padding: var(--1);
  border-radius: var(--4);
  inline-size: 100%;
  background-color: var(--bg-clr-2);
}

.c-progress_line {
  inline-size: 0;
  block-size: 100%;
  border-radius: var(--4);
  background-color: var(--color-purple-600);
}

.c-radio {
  display: flex;
  box-shadow: var(--shdw-1);
  border-radius: var(--3);

  @media (width >= 48rem) {
    border-radius: var(--6);
  }

  & input {
    display: none;
  }

  & label {
    cursor: pointer;
    background-color: var(--bg-clr-2);
    inline-size: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: var(--4);
    border-radius: var(--3);

    @media (width >= 48rem) {
      border-radius: var(--6);
    }
  }

  & label:focus-visible {
    outline: none;
    box-shadow: 0 0 0 calc(var(--px) + var(--0_5)) var(--color-purple-600);
  }
}

/* ========== LAYOUT ========== */

.o-heading_text {
  display: flex;
  flex-direction: column;
  gap: var(--4);

  @media (width >= 48rem) {
    gap: var(--6);
  }

  @media (width >= 64rem) {
    block-size: calc(100% - var(--56));
  }
}

.o-hero {
  display: flex;
  flex-direction: column;
  gap: var(--6);

  @media (width >= 48rem) {
    gap: var(--10);
  }

  @media (width >= 64rem) {
    flex: 4;
    /* gap: 0; */
    /* block-size: 100%; */
  }
}

.o-error_answer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--2);
  padding-block: var(--4);
  padding-inline-end: var(--1);
}

.o-error_wrapper {
  @media (width >= 64rem) {
    min-block-size: calc(var(--20) - var(--2));
  }
}

/* ========== UTILITIES ========== */

.u-color_grey-light {
  background-color: var(--color-grey-50);
}

[data-correct] svg,
[data-incorrect] svg {
  inline-size: var(--8);
  block-size: var(--8);

  @media (width >= 48rem) {
    inline-size: var(--10);
    block-size: var(--10);
  }
}

/* ========== LOGIC ========== */

.is-correct {
  box-shadow: 0 0 0 calc(var(--px) + var(--0_5)) var(--color-green-500);

  & .c-icon_area {
    background-color: var(--color-green-500);
    color: var(--color-white);
  }
}

.is-incorrect {
  box-shadow: 0 0 0 calc(var(--px) + var(--0_5)) var(--color-orange-500);

  & .c-icon_area {
    background-color: var(--color-orange-500);
    color: var(--color-white);
  }
}
