/* ========== COMPONENTS ========== */

#screen-start {
  inline-size: 100%;
  block-size: 100%;
  max-inline-size: calc(var(--80) * 3 + var(--48) + var(--2));

  padding-block: var(--8);

  display: flex;
  flex-direction: column;
  gap: var(--10);

  @media (width >= 48rem) {
    gap: var(--16);
  }

  @media (width >= 64rem) {
    padding-block: 0;
    flex-direction: row;
    gap: var(--32);
  }
}

.c-btn_secondary {
  background-color: var(--bg-clr-2);
  inline-size: 100%;

  display: flex;
  align-items: center;
  gap: var(--4);

  padding: var(--4);
  border-radius: clamp(var(--3), calc(var(--2) + 2vw), var(--4));

  box-shadow: var(--shdw-1);

  &:focus-visible {
    box-shadow: 0 0 0 calc(var(--px) + var(--0_5)) var(--color-purple-600);
  }

  @media (width >= 48rem) {
    gap: var(--8);
    border-radius: var(--6);
  }

  @media (width >= 64rem) {
    &:hover {
      box-shadow: 0 0 0 calc(var(--px) + var(--0_5)) var(--color-purple-600);
    }
  }
}

/* ========== LAYOUT ========== */

.o-heading {
  display: flex;
  flex-direction: column;
  gap: var(--4);

  @media (width >= 64rem) {
    gap: var(--12);
    block-size: fit-content;

    flex: 4;
  }
}

.o-list {
  display: flex;
  flex-direction: column;
  gap: var(--4);
  inline-size: 100%;
  block-size: 100%;

  @media (width >= 48rem) {
    gap: var(--6);
  }

  @media (width >= 64rem) {
    flex: 5;
  }
}

.o-btn_content-left {
  display: flex;
  align-items: center;
  gap: var(--4);

  @media (width >= 48rem) {
    gap: var(--8);
  }
}

/* ========== UTILITIES ========== */

.u-color_orange-50 {
  background-color: var(--color-orange-50);
}

.u-color_green-100 {
  background-color: var(--color-green-100);
}

.u-color_blue-50 {
  background-color: var(--color-blue-50);
}

.u-color_purple-100 {
  background-color: var(--color-purple-100);
}

.u-width_max-30ch {
  max-inline-size: 30ch;

  @media (width >= 48rem) {
    max-inline-size: 40ch;
  }

  @media (width >= 64rem) {
    max-inline-size: 48ch;
    flex: 5;
  }
}

/* ========== LOGIC ========== */
