/* ========== COMPONENTS ========== */

.c-switcher {
  & input {
    display: none;
  }

  & label {
    display: flex;
    width: var(--8);
    height: var(--5);

    position: relative;
  }

  & label::before {
    content: "";
    position: absolute;

    width: var(--8);
    height: var(--5);
    border-radius: var(--4);
    background-color: var(--color-purple-600);
  }

  & label::after {
    content: "";
    position: absolute;
    width: var(--3);
    height: var(--3);
    border-radius: 50%;
    background-color: var(--color-white);
    top: var(--1);
    left: var(--1);
  }

  & input:checked + label::after {
    transform: translateX(var(--3));
  }

  & label:focus-visible {
    outline-offset: var(--1);
    outline: var(--0_5) solid var(--color-purple-600);
    border-radius: var(--4);
  }

  & label:focus-visible::after {
    scale: 1.2
  }
}

/* .c-slider {
} */

.c-icon_switcher {
  fill: var(--bg-clr-3);
}

/* ========== LAYOUT ========== */

/* o-header */

.o-header {
  display: flex;
  align-items: center;
}

.o-switcher_option {
  display: flex;
}

.o-switcher_area {
  display: flex;
  align-items: center;
  gap: var(--2);

  position: relative;
  user-select: none;

  &::after {
    content: "";
    position: absolute;
    inset: calc(var(--4) * -1);
    cursor: pointer;
  }
}

/* ========== UTILITIES ========== */

/* ========== LOGIC ========== */
